- content_for 'page_css' do
  :sass
    #content .form-area div.error-with-field
      input.textbox
        font-family: Georgia,Palatino,"Times New Roman",Times,serif
        font-size: 200%
        width: 100%

    textarea.textarea
      height: 150px !important
      width: 100%
      display: block

    input.file
      margin: 50px 0

    img.asset
      margin: 5px 0
      border: 2px solid #fff

    a.asset
      display: block
      margin: 5px 0

%h1= @gallery.new_record? ? 'New Gallery' : 'Edit Gallery'

- form_for [:admin, @gallery], :html => {:multipart => true} do |f|
  .form-area
    %p.title
      %label Title
      = f.text_field :title, :class => 'textbox'
    %p.title
      %label Description
      = f.text_area :description, :class => 'textarea'
    %p
      = f.label :swf, 'SlideShowPro SWF File'
      = link_to('preview', admin_gallery_url(@gallery), :target => '_blank') if @gallery.swf.exists?
      = f.file_field :swf, :label => 'hello'
    %h2 Optional Audio
    %p
      = f.label :audio, 'MP3 File'
      - if @gallery.audio.exists?
        = link_to("#{@gallery.audio_file_name} (listen)", @gallery.audio.url, :target => '_blank')
        = f.check_box :remove_audio
        = f.label :remove_audio
      - else
        = f.file_field :audio
    %p
      = f.label :audio_caption
      = f.text_field :audio_caption, :class => 'textbox'
    
  %p.buttons
    - button_text = @gallery.new_record? ? 'Create' : 'Save Changes'
    = submit_tag button_text, :class => 'button'
    or
    = link_to 'Cancel', admin_galleries_url
